.card-header{
    position: absolute;
    top: 13%;
    justify-content: center;
    padding-left: 62px;
    width: 300px;  
      display: flex;
    flex-direction: column;

    background-color: transparent;
    border-color: transparent;


}