.example-form {
  min-width: 150px;
  max-width: auto;
  width: 100%;
}

.example-full-width {
  width: auto;
}
.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.register-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: auto;
  height: 1200px;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

mat-card {
  width:100%;
  margin: 10% auto;
  border-radius: 8px;
  overflow: hidden;

}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
  width: 400px;

}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  background-color: #FF4500 ;
}

mat-button-toggle-group {
  display: flex;
  margin-left: 120px;
  margin-right: 50px;
  border-radius: 30px;
  width: 190px;




}
mat-button-toggle .pro {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  width: 50%;



}
mat-button-toggle .pat {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  width: 50%;



}

.mat-button-toggle-checked{
  background-color:#FF4500;
  color:#fff;
}
mat-dialog-content{

  overflow: scroll;
  overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.btn{
  margin-right: 20px;

}


.mat-dialog-container{
  height: 400px;
}

.mat-card-content-reg{

  width: 500px;
}



.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
}

h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}



/* password hide show */
