.example-form {
  min-width: 150px;
  max-width: auto;
  width: 100%;
}

.example-full-width {
  width: auto;
}
.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: auto;
  height: 1200px;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


mat-card-content {
  width:100%;
 

}

mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;

}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
  background-color: #FF4500 ;
}

mat-button-toggle-group {
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 30px;




}


.mat-button-toggle-checked{
  background-color:#FF4500;
  color:#fff;
}
mat-dialog-content{

  display: block;
  overflow: hidden;
  background-color: transparent;


}

mat-dialog-container{
  background-color: transparent;
  width: 60%;

}
.mat-card {

    transition: none
   

}
::-webkit-scrollbar {
    width: 0;  /*Remove scrollbar space
    background: transparent;  /*Optional: just make scrollbar invisible*/
}
/*Optional: show position indicator in red*/






.btn{
  margin-right: 20px;

}






.mat-dialog-container{
  height: 50px;
}

.mat-card-content-reg{

}



.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
}

h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* password hide show */
.mat-progress-bar.mat-warn .mat-progress-bar-buffer
{
  width: 50px;


}


.parent {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .child {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }


  .ex1 {
    width: auto;
    height: 250px;
    overflow: scroll;
  }



  mat-icon:hover {
    cursor: pointer;
  }
  .mat-radio-button {
border-radius: 60px;
}
.choix{
  margin-top: 20px;

}
