<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
     
      <div class="section-title">
        <br>  <br>  <br>  <br>
        <div class="info">
          <div class="address">
        
            <h4>{{ 'CONTACT.CONT' | translate }} </h4>
   
          </div>
        </div>
      </div>
    
    </div>
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=2,%20route%20d%C3%A9partementale%20974,%2021190%20Meursault,%20France+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">distance maps</a></iframe></div>  
    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>{{ 'CONTACT.LOCATION' | translate }} :</h4>
              <p style="font-weight: bold;font-size: 90%;">2, route départementale 974,<br> 21190 Meursault, France</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>{{ 'CONTACT.EMAIL' | translate }} :</h4>
              <p style="font-weight: bold;font-size: 90%;">contact@stimed.fr</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>{{ 'CONTACT.TELE' | translate }} :</h4>
              <p style="font-weight: bold;font-size: 90%;">03 80 80 19 54

              </p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input style="font-weight: bold;font-size: 90%;" type="text" name="name" class="form-control" id="name" placeholder="{{ 'CONTACT.YN' | translate }}" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input style="font-weight: bold;font-size: 90%;" type="email" class="form-control" name="email" id="email" placeholder="{{ 'CONTACT.YE' | translate }}" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input style="font-weight: bold;font-size: 90%;" type="text" class="form-control" name="subject" id="subject" placeholder="{{ 'CONTACT.SB' | translate }}" required>
            </div>
            <div class="form-group mt-3">
              <textarea style="font-weight: bold;font-size: 90%;" class="form-control" name="message" rows="5" placeholder="{{ 'CONTACT.MES' | translate }}" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button style="font-weight: bold;font-size: 110%;" type="submit">{{ 'CONTACT.SEND' | translate }}</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->