.card:hover{

    transform: scale(1.02); 

}

.card{
    cursor: pointer;
    box-shadow: 5px 5px 5px #828181;

}

.box{

	width: 200px;

	height: 50px;

	background-color: white;

	border-radius: 3px;

	display: flex;

	align-items: center;

	padding: 20px;


}

.box > i {

	font-size: 20px;

	color: #777;

}

.box > input{

	flex: 1;
  width: 200px;
	height: 40px;
background-color: transparent;
	border: none;

	outline: none;

	font-size: 15px;

	padding-left: 10px;


}
h3{
    color: #414549;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 18px;
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

}

span{
    color: #80868b;

    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #153d77;
}
div.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #153d77;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background: #333333;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 100px 15px 33px 15px;
    }
  }