<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top ">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i>
        <a href="mailto:contact@example.com">score@example.com</a>
        <i class="bi bi-phone"></i> +216 xxx xxx xxx
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">Score</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/">Accueil</a></li>
          <li><a class="nav-link scrollto"routerLink="about">À propos</a></li>
          <li><a class="nav-link scrollto" routerLink="contact">contact</a></li>

          <!-- <li class="dropdown">
            <a href="#"
              ><span>Drop Down</span> <i class="bi bi-chevron-down"></i
            ></a>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

      <!-- <a (click)="openDialog()" data-toggle="modal" data-target=".login-register-form" class="appointment-btn scrollto"
        ><span class="d-none d-md-inline">SignIn / SignUp</span></a> -->

        <a (click)="openDialog()" class="appointment-btn scrollto">S'identifier / S'inscrire</a>

            <!-- <a routerLink="login" class="appointment-btn scrollto"><span class="d-none d-md-inline">register</span></a> -->
    </div>
  </header>

  <!-- End Header -->

  <main id="main">
    <router-outlet></router-outlet>


  </main>


