 <!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container-fluid">
      <br><br><br><br>
      <div class="row">
    
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
         
         <!--  <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <br>
          <br>
          <h3>{{ 'P.MC' | translate }}</h3>
          <p>{{ 'P.PH2' | translate }}
            <br>
            {{ 'P.PH3' | translate }}</p>
<!-- 
          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div> -->

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <section id="contact" class="contact">
 
    <div class="section-title">
      <h2>{{ 'HOMES.CONT' | translate }}</h2>
      <p> 
          <a href="#" class="instagram"><i class="bi bi-google"></i></a> : contact@stimed.fr
  
          <a href="#" class="instagram"><i class="bi bi-phone-fill" style="padding-left: 12px;"></i></a>  : +33(0)380801954
          <a href="#" class="instagram"><i class="bi bi-pin-map-fill" style="padding-left: 12px;"></i></a> : 2, route départementale 974, 21190 Meursault, France
          
          <a href="#" class="instagram"><i class="bi bi-facebook" style="padding-left: 12px;"></i></a> 
  
          <a href="#" class="instagram"><i class="bi bi-instagram" style="padding-left: 12px;"></i></a> 
  
          <a href="#" class="instagram"><i class="bi bi-linkedin" style="padding-left: 12px;"></i></a> 
          <br>
          <img    src="../../../assets/img/qrcode.JPG"> 
      </p>
    </div>
  </section><!-- End Contact Section -->