
            <div class="container rounded mt-5 bg-white p-md-5">
    
              
              <div class="container">
                  <div class="form-group">
                      <div class="h2 font-weight-bold">Liste des contacts</div>
              
                    </div>
                    <div class="container" >
                        
                      <div class="container" >
                        
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Chercher..." (input)="filterItem($event.target.value)"  />
                          </div>
                        </div>
                    </div>
              
                    <div class="table-responsive">
              
                  <table class="table ">
                      <div *ngIf="!profs" class="text-center">
                          <div class="spinner-border text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      <thead>
                          <tr>
                              <th scope="col" >Nom et prénom </th>
                              <th scope="col">Adresse</th>
                              <th scope="col">E-mail</th>
                              <th scope="col">Télèphone</th>
                              <th scope="col">Etat Formulaire</th>
              
                          </tr>
                      </thead>
                  
                      <tr *ngFor="let prof of profs ;index as i">
                      
                              <td class="pt-3">{{prof.doctors.name}} {{prof.doctors.lastname}}</td>
                              <td class="pt-3">{{prof.doctors.adresse}}</td>
                              <td class="pt-3">{{prof.doctors.email}}</td>
                              <td class="pt-3" >{{prof.doctors.tel}}  </td>
                              <td><i  class='fas fa-file-medical' class="fa-sharp fa-solid fa-check-to-slot" (click)="GetForms(prof.doctors._id)" aria-hidden="true" data-toggle="modal"   style="padding-right: 10px;cursor: pointer;" data-target="#exampleModal"></i>
                                  <i  class='fas fa-file-medical' (click)="GetForms(prof.doctors._id)" aria-hidden="true" data-toggle="modal" style="cursor: pointer;" data-target="#exampleModalCompleted"></i>
                              </td>
                        
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                         
                          <div class="modal-body">
                              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                              <h5 class="modal-title" id="exampleModalLabel">Formulaires affecter par {{prof.doctors.lastname}}</h5>
              
                              <div class="container rounded mt-2 bg-white p-md-2">
                                  <div class="table-responsive">
                                      <table class="table ">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Title</th>
                                                  <th scope="col">Description</th>
                                   
                                  
                                              </tr>
                                          </thead>
                                          
                                          <tbody *ngFor="let form of forms ;index as i" style="cursor: pointer;">
                                              <tr>
                                                  <td  data-dismiss="modal" (click)="openFormDetails(form.form._id,prof)" class="pt-3">{{form.form.title}}</td>
                                                  <td class="pt-3">{{form.form.description}}</td>
              
                                                 
                                              </tr>
                                  
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
              
                          </div>
                       
                      </div>
                  </div>
              </div>
              <!-- Modal Completed-->
              <div class="modal fade" id="exampleModalCompleted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          
                          <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              <h5 class="modal-title" id="exampleModalLabel">Formulaires remplis par {{prof.doctors.lastname}}</h5>
              
                              <div class="container rounded mt-2 bg-white p-md-2">
                                  <div class="table-responsive">
                                      <table class="table ">
                                          <thead>
                                              <tr>
                                                  <th scope="col">Title</th>
                                                  <th scope="col">Description</th>
                                            
                                  
                                              </tr>
                                          </thead>
                                          <tbody (click)="previewForm(form)"  *ngFor="let form of formsCompleted ;index as i" style="cursor: pointer;">
                                              <tr>
                                                  <td  data-dismiss="modal"  class="pt-3">{{form.form.title}}</td>
                                                  <td class="pt-3">{{form.form.description}}</td>
                                                
                                                 
                                              </tr>
                                  
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
              
                          </div>
                          <div class="modal-footer">
                       
                             
                          </div>
                      </div>
                  </div>
              </div>
              </tr>
                  </table>
              </div>
              
              </div>
              </div>
              
              <div  *ngIf="profs==0" class="text-center mt-5" style="width: 100%;height: 100%;padding-bottom: 15%;">   
                  <h1 class="header-title" style="color: transparent;padding-bottom: 15%;font-size: 0px;">A</h1>
                  <h1 class="header-title" style="color: red;padding-bottom: 15%;">AUCUN CONTACT  </h1>
                
                </div>
              


                <div *ngIf="section .type == 'Grille de cases à cocher 2'" style="width: 100%;"
                class="col-lg-12 col-sm-12 w-100">
                <table class="table table-borderless">
                  <thead>
         
                  </thead>
                  <tbody>
                 <!--    <tr *ngFor="let question of section.questions[q].grille.options;let o = index">
                      <th scope="row">{{question.title}}</th>
                      <td *ngFor="let question of section.questions[q].grille.scoreS;let k = index">
                        {{o}}{{k}}
                        <mat-checkbox class=" inp col-md-7 col-lg-7 col-sm-9 col-xs-9 col-9  " (change)="radioChecked(question.score,question,$event,s ,'question'+o +','+s+','+q,'Q '+'('+ s +',' + q+')');
                        getDataGrilledecasescocher(section.questions[q],$event,q,o,k,s,question)">
                        </mat-checkbox>
                      </td>

                    </tr> -->
                   <tr *ngFor="let questionq of tabRep.responses[0].optionsSaint.options;let m = index">
                    <th scope="row">
               <br>
               <br>
               <br>
                    hh</th>
                    <mat-radio-group 
                    aria-label="Select an option"
                     >
 
                      <td class="col-lg-1" *ngFor="let question of tabRep.responses[0].optionsSaint.scoreS;let k = index" style="padding-bottom: 20px;">
                        {{tabRep.responses[0].scoreOptioncm2[m][k]}}
                        <mat-radio-button class="m-2 w-100" style="width: 100%;" disabled [value]="tabRep.responses[0].scoreOptioncm2[m][k]"  [checked]="tabRep.responses[0].scoreOptioncm2[m][k]">
                     
                      </mat-radio-button>

                      </td>
                    </mat-radio-group>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
              