@import '../../../../../assets//css/flexlayout.css';
@import '../../../../../assets//css/flex.css';
@import '../../../../../assets//css/mat-card-design.css';


  mat-slider {
    width: 300px;
  }  
  .card-section {
    border-radius: 8px;
    border-bottom: 8px solid #FF4500;
  }
  .card {
    border-radius: 8px;
    border-top: 8px solid #FF4500;
    margin-bottom: 10px;
  }
  .question-card {
    border-radius: 8px;
    /* border-bottom: 8px solid #093b84; */
    border-top: 8px solid #FF4500;

  }
  .simple-slider{
   padding-bottom: 20px;width: 89%;padding-left: 4%;
  }
  img.douleur{
   width: 100%;height: 100%;
  }

  .buttonContainer{
    height: 150px;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    /* background-image: url("https://cdn.pixabay.com/photo/2020/09/14/18/34/amazed-5571740_1280.png"); */
    width: 92%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    outline: none;
    margin: 0;
    transition: all .2s;
    }
    .slider:hover {
    background: rgba(255, 255, 255, 0);
    }
    .slider::-webkit-slider-thumb{
    border: none;
    height: 170px;
    width: 180px;
    background-color: transparent;
    background-image: url("https://res.cloudinary.com/med-in-outlook/image/upload/v1660637198/Douleurgraph2_hevgyr.png");
    background-position: 0 0;
    background-size: cover;
    transform: scale(0.55) rotateZ(var(--thumb-rotate, 0deg));
    cursor: pointer;
    margin-top: -184px;
    /* margin-left: 20px;
    margin-right: 20px; */
    -webkit-appearance: none;
    }


    .container23 {
      position: relative;
      width: 500px;
      height: 100px;
      border: 2px solid white;
      margin-top: 1%;
      }
      .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        align-items: flex-start;
      }
      
      .example-radio-button {
        margin: 5px;
      }
      .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
      }
      