<div class="content">
    <div class="container">
        <div class="row">
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-3" *ngFor="let contact of contacts ">
                <div class="text-center card-box">
                    <div class="member-card pt-3 pb-3">
                        <div class="thumb-lg member-thumb mx-auto"><img src="../../../../../assets//img/avatar.jpg"
                                class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h6>{{contact.patients.name}} {{contact.patients.lastname}}</h6>
                        </div>



                        <table>
                            <tr>
                                <td> <img src="../../../../../assets/img/email.ico" style="height: 30px;width: 30px;"
                                        alt="">
                                </td>

                                <td> 
                                    <a href = "mailto: {{contact.patients.email}}">{{contact.patients.email}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../../../assets/img/whatsapp.ico" style="height: 30px;width: 30px;"
                                        alt="">
                                </td>
                                <td>
                                    <a href="https://api.whatsapp.com/send?phone={{contact.patients.tel}}">   {{contact.patients.tel}}</a>

                                </td>
                            </tr>
                        </table>


                        <!-- <div class="mt-">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mt-6">
                                        <p>Télèphone</p>
                                        <p class="mb-0 text-muted">{{contact.patients.tel}}</p>
                                    </div>
                                </div>
                              
                                <div class="col-6">
                                    <div class="mt-6">
                                        <p>Adresse</p>
                                        <p class="mb-0 text-muted">{{contact.patients.adresse}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end col -->

            <!-- end col -->

            <!-- end col -->
        </div>
        <!-- end row -->

        <!-- end row -->

        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <ul class="pagination pagination-split mt-0 float-right">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span
                                    aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                    aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>