<div class="content">
    <div class="container">
        <div class="row">
            <div class="container" >
          
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search..." (input)="filterItem($event.target.value)"  />
                </div>
              </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-3" *ngFor="let contact of contacts | paginate: { itemsPerPage: 8, currentPage: p } ">
                <div class="text-center card-box">
                    <div class="member-card pt-3 pb-3">
                        <div class="thumb-lg member-thumb mx-auto"><img src="../../../../../assets//img/avatar.jpg"
                                class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h6>{{contact.patients.name}} {{contact.patients.lastname}}</h6>
                        </div>



                        <table>
                            <tr>
                                <td> <img src="../../../../../assets/img/email.ico" style="height: 30px;width: 30px;"
                                        alt="">
                                </td>

                                <td> 
                                    <a href = "mailto: {{contact.patients.email}}">{{contact.patients.email}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../../../assets/img/whatsapp.ico" style="height: 30px;width: 30px;"
                                        alt="">
                                </td>
                                <td>
                                    <a href="https://api.whatsapp.com/send?phone={{contact.patients.tel}}">   {{contact.patients.tel}}</a>

                                </td>
                            </tr>
                        </table>


                        <!-- <div class="mt-">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mt-6">
                                        <p>Télèphone</p>
                                        <p class="mb-0 text-muted">{{contact.patients.tel}}</p>
                                    </div>
                                </div>
                              
                                <div class="col-6">
                                    <div class="mt-6">
                                        <p>Adresse</p>
                                        <p class="mb-0 text-muted">{{contact.patients.adresse}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end col -->

            <!-- end col -->

            <!-- end col -->
        </div>
        <!-- end row -->

        <!-- end row -->

        <!-- end row -->
        <div class="parent">
    
            <pagination-controls class="child" (pageChange)="p = $event"></pagination-controls>
        
          </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>