<div class="container rounded mt-5 bg-white p-md-5">

  
  <div class="form-group">
    <div class="h2 font-weight-bold">Liste des docteurs</div>

  </div>
  <div class="container" >
      
    <div class="container" >
      
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Chercher..." (input)="filterItem($event.target.value)"  />
        </div>
      </div>
  </div>
  <div class="table-responsive">

    <table class="table">

      <thead>
        <tr>
          <th scope="col">Nom et prénom </th>
          <th scope="col">Adresse</th>
          <th scope="col">E-mail</th>
          <th scope="col">Télèphone</th>
          <th scope="col">Invitation</th>
        </tr>
      </thead>
      <tbody>

        <tr id="spacing-row">
          <td></td>
        </tr>  

        <tr class="bg-blue" *ngFor="let prof of profs | paginate: { itemsPerPage: 6, currentPage: p }">
 
          <td class="pt-2" >
            <div class="container">
              <div class="row">
                <div class="col-md-auto">
                  <img *ngIf="prof.photo !=''" class="img-profile rounded-circle" [src]="prof.photo">
                  <img *ngIf="prof.photo ==''"  class="img-profile rounded-circle" src="../../../assets/img/avat.jpg">
                </div>
                <div class="col-md-auto">
                  <div class="pl-lg-5 pl-md-3 pl-1 name" data-toggle="modal" data-target="#exampleModal"
                   >{{prof.name}} {{prof.lastname}} </div>
                </div>
              
              </div>
            </div>

          
       
          </td>
          <td class="pt-3">{{prof.adresse}}</td>
          <td class="pt-3">{{prof.email}}</td>
          <td class="pt-3">{{prof.tel}} </td>
          <td class="pt-3">
          <div *ngIf="friend; else notfriend">
           
              <span (click)="addDoctor(prof._id)" >
                <i class="fa fa-user-plus pl-3" ></i>
              </span>

          

          </div>
        </td>
          <ng-template #notfriend>
            <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
          </ng-template>

        </tr>
      


      </tbody>

    </table>

  </div>
  <div class="parent">

    <pagination-controls class="child" (pageChange)="p = $event"></pagination-controls>

  </div>
</div>
<div *ngIf="added">
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->


  
<div  *ngIf="profs==0" class="text-center mt-5" style="width: 100%;height: 100%;padding-bottom: 15%;">   
  <h1 class="header-title" style="color: transparent;padding-bottom: 15%;font-size: 0px;">A</h1>
  <h1 class="header-title" style="color: red;padding-bottom: 15%;">AUCUN DOCTEUR </h1>

</div>
