

<div class="container">
    <div class="main-body">
  
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Professionnel</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
  
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
        
          </div>
       
        </div>
        <li class="list-group-item active container" >Invitations</li>

        <div class="container"  *ngFor="let invt of invts ">
            
            <ul  class="list-group" *ngIf="invt.status == false"  >

                    <li class="list-group-item">{{invt.patient.name}}</li>

              </ul>
     
        </div>
        

      </div>
  
    </div>
  </div>
  