<!-- <div class="header row">
    <mat-icon [routerLink]="['/admin/forms/detail/' , id ]" style="color: white;margin-right: 24px; font-size: 24px;">
     
        keyboard_backspace
        
    </mat-icon>

    <div class="col-8">
         <h1 class="header-title">
            Aperçu en direct
         </h1>
        

    
    </div>
   
  
    <div class="col-3">
        <div class="row ">
           <button  [routerLink]="['/admin/forms/affect' , form?._id]"  mat-raised-button class="ml-auto">
                <mat-icon>screen_share</mat-icon>
               <span *ngIf="screenWidth > 450">Affecter</span> 
            </button> 
            <button class="ml-2 mt-1" (click)="open()" mat-raised-button>
                <mat-icon>delete</mat-icon>
            </button>
          </div>

    </div>


</div> -->
<div *ngIf="tabRep">
  <div class="col-12 col-md-12 col-lg-12 mx-auto">
    <div class="card">
          <div *ngIf="tabRep" class="card-header">
           <h1 class="form-title">{{tabRep.form_title}}</h1>
        </div>
  
    </div>
  </div>
  
  <ul class="list">
    <cdk-virtual-scroll-viewport  style="height: 700px" itemSize="90" >
      <div class="col-12 col-md-12 col-lg-12 mx-auto">
        <div class="card">
              <div *ngIf="tabRep" class="card-header">
               <h1 class="form-title">Desc</h1>
              <p class="form-description">{{tabRep.form_description}}</p>
    
           
            </div>
   
        </div>
    </div>
      <ng-container *cdkVirtualFor="let section of tabRep.responses;let s = index">
  
        <div class="col-12 col-md-12 col-xs-12 col-lg-12 mx-auto">
          <div class="card-section" style="background-color: #ffffffde;"  *ngIf="section.title!=''">
                <div class="card-header">
                 
                  <div class="card question-card">
      
          
                      <div   class="row card-body col-12">
      
                      <div class="row w-100">
                          
                          <div class="col-lg-12 ">
                            <h2 class="question-title">
                              <p class="hint"> {{section.title}} </p>
                            </h2>  
                          </div>
      
                         
                      
                      </div>
      
      
                      <div class="row w-100 mt-1">
                          <div *ngIf="section.type == 'Nomber de jours'" class="col-lg-8 col-sm-12" >
                              <!-- => show simple input -->
                      
                         <!--      <p class="hint"> {{section.title}}</p> -->
                              <input class="question-short-input-response" [value]="section.textReponse"  disabled>
                        
                            </div>
                          <div *ngIf="section.type == 'Text court'" class="col-lg-8 col-sm-12">
                            <!-- <p class="hint"> {{section.title}}</p> -->
                              <p class="hint"> {{section.textReponse}} </p> 
                          </div>
                      
          
                          <div *ngIf="section.type == 'Cases à cocher'" style="width: 100%;" class="col-lg-12 col-sm-12 w-100">
                             <!--  <p class="hint"> {{section.title}} </p> -->
                              <div style="width: 100%;" *ngFor="let op of section.options; let o = index;">
                                <div class="row">
                                  <div class="col">
                                      <mat-radio-group 
                                      aria-labelledby="example-radio-group-label"
                                      class="example-radio-group"
                                      [(ngModel)]="favoriteSeason">
                                    <mat-radio-button class="m-2 w-100" style="width: 100%;" disabled [value]="op.text"  [checked]="op.selected">
                                      <p class="hint"> {{op.text}} </p>
                                  </mat-radio-button>
                                  <img *ngIf="op.image !=''" style="width: 250px;" class="img-thumbnail" [src]="op.image" alt="">
                              </mat-radio-group>
                                </div>
                            
                             
                           
                              </div>
                          </div>
                      </div>
      
                       <div *ngIf="section.type == 'Choix multiples'" style="width: 100%;" class="col-lg-12 col-sm-12 w-100">
                        <!--   <p class="hint"> {{section.title}} </p> -->
                          <div style="width: 100%;" *ngFor="let op of section.optioncm; let o = index;">
                            <div class="row">
                              <div class="col">
                                <mat-checkbox class="m-2 w-100" style="width: 100%;" disabled [checked]= "op.selected">
                                  <p class="hint">{{op.text}}</p>
                              </mat-checkbox>
                              <img *ngIf="op.image !=''" style="width: 250px;" class="img-thumbnail" [src]="op.image" alt="">
      
                             <!--  <div  *ngIf="section.questions[i].optioncm[o].image.length > 1 " style="width: 100%; margin-left: 44px;margin-top: -16px;">
                                  <img style="width: 250px;" class="img-thumbnail" [src]="section.questions[i].optioncm[o].image " alt="">
                          
                              </div> -->
                              </div>
                              
                             <!--  <div class="col-2">
                                <input  [(ngModel)]="section.questions[i].optioncm[o].score"  class="question-score" value="0" disabled>
                              </div>
                              <div *ngIf="section.questions[i].textecourt" class="col-2">
                                <div class="m-2 w-100">
                                  <input   class="form-control" value="" disabled>
                                
                                </div>
                              </div> -->
                            </div>
                           
                              <br>
                        
                          </div>
                        
                     
      
                      </div>
  
                      <div *ngIf="section.type == 'Range Bar'" style="width: 100%;" class="col-lg-12 col-sm-12 w-100">
                        <!--   <p class="hint"> {{section.title}} </p> -->
                         <div  >
                              <div class="row  m-2">
                                  <div  class="col-lg-8 col-sm-12" style="padding-left: 3%;">
                                      <div class="simple-slider">
                                          <ng5-slider [value]="section.score"   [options]="sliderMakeOptions(section.scoreOptionRangeBarQuestion)"  disabled ></ng5-slider>
                                      
                                        </div>
                                                    
                              
                                  </div>
          
                                  
                                <!--   <p  *ngIf="section.questions[i].rangeBoolean"  class="score col-md-2 col-lg-2 col-sm-2 col-xs-2 col-2">
                                  Score: 
                                  <input  [(ngModel)]="section.questions[i].options[o].score"  class="question-score" value="0" disabled>
                  
                                  </p> -->
      
      
                            
                              </div>
      
                         
                          </div>  
                      
      
      
                      </div>
  
                      <div *ngIf="section .type == 'VISUELLE ANALOGIQUE'" style="width: 100%;" class="col-lg-12 col-sm-12 w-100">
                       <!--    <p class="hint"> {{section.title}} </p> -->
                        <div class="row  m-2">
                          <div class="col-lg-8 col-sm-12" style="padding-left: 3%;">
                              <div class="simple-slider">
          
                                <div class="row">
                                  <!-- <img style="width: 10%;height: 10%;" class="img-thumbnail" src="assets/img/placeholder.png" alt=""> -->
                                  <div class='container23'style="width: 600px" >
                                  
                                  <img  class="img-thumbnail" src="../../../../../assets/Douleurgraph1.png" alt="">
                                  <input type="range" min="0" max="10" [value]="section.score" class="slider" name='slider' id="slider" disabled>
                                  
                                  </div>
                                  <!-- <img style="width: 10%;height: 10%;" class="img-thumbnail" src="assets/img/placeholder.png" alt=""> -->
                                </div>
          
                              </div>
          
          
                            </div>
      
  
                          </div> 
      
                     
                    
                  
      
      
                 
                      </div>
  
  
                      <div *ngIf="section .type == 'Grille de cases à cocher 2'" style="width: 100%;"
                      class="col-lg-12 col-sm-12 w-100">
                      <table class="table table-borderless">
                        <thead>
               
                        </thead>
                        <tbody>
                       <!--    <tr *ngFor="let question of section.questions[q].grille.options;let o = index">
                            <th scope="row">{{question.title}}</th>
                            <td *ngFor="let question of section.questions[q].grille.scoreS;let k = index">
                              {{o}}{{k}}
                              <mat-checkbox class=" inp col-md-7 col-lg-7 col-sm-9 col-xs-9 col-9  " (change)="radioChecked(question.score,question,$event,s ,'question'+o +','+s+','+q,'Q '+'('+ s +',' + q+')');
                              getDataGrilledecasescocher(section.questions[q],$event,q,o,k,s,question)">
                              </mat-checkbox>
                            </td>
      
                          </tr> -->
                         <tr *ngFor="let questionq of tabRep.responses[s].optionsSaint.options;let m = index">
                          <th scope="row">
                     <br>
                     <br>
                     <br>
                    <h6 style="color: #212529;">  {{questionq.title}}</h6> </th>
                          <mat-radio-group 
                          aria-label="Select an option"
                           >
       
                            <td class="col-lg-1" *ngFor="let question of tabRep.responses[s].optionsSaint.scoreS;let k = index" style="padding-bottom: 20px;">
                             <h6 *ngIf="m==0" style="color: rgb(0, 0, 0);font-size:15px"> {{question.title  }}</h6> <br>
                             <br *ngIf="m!=0" >
                             <h6 *ngIf="m!=0" style="color: transparent;font-size:15px;height: 0px;"> {{question.title  }}</h6>
                             <mat-radio-button class="m-2 w-100" style="width: 100%;" disabled [value]="tabRep.responses[s].scoreOptioncm2[m][k]"  [checked]="tabRep.responses[s].scoreOptioncm2[m][k]">
                           
                            </mat-radio-button>
                            </td>
                          </mat-radio-group>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                      </div>
          
      
      
                  </div>
              </div>
     
          </div>
      </div>
    
     
  </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ul>
  <div *ngFor="let item of tabRep.score" class="col-sm-3 col-xl-12  text-center">
              
    <div style=" background-color: #ddffdd;"><h1>Score : {{item.toFixed(2)}} </h1></div>
  
  </div>
</div>

 

 